* {
  font-family: "Courier New", Courier, monospace;
  color: green;
}

ul,
ol {
  background: #fcfcfc; /*背景色*/
  padding: 0.5em 0.5em 0.5em 2em; /*ボックス内の余白*/
  border: solid 3px gray; /*線の種類 太さ 色*/
}

ul li,
ol li {
  line-height: 1.5; /*文の行高*/
  padding: 0.5em 0; /*前後の文との余白*/
  /* height: 200px;
  width: 200px; */
}

.chatbox {
  /* margin-left: auto;
  margin-right: auto; */
  border: solid 3px gray; /*線の種類 太さ 色*/
  height: 200px;
  width: 200px;
  text-align: right;
}

.chatarea {
  background: #fcfcfc; /*背景色*/
  padding: 0.5em 0.5em 0.5em 2em; /*ボックス内の余白*/
  /* text-align: right; */
  /* height: 200px;
  width: 200px; */
}

.form {
  background: #001;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}
.form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

/* まだ使ってない */
.box {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
}

.box p {
  margin: 0;
  padding: 0;
}
